<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Exo&display=swap" rel="stylesheet">
	<link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#9c0202">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="theme-color" content="#ffffff">
	<title><%= article.title %> - Mein Haus</title>
	<meta name="description" content="This main discussion of what happening at this moment in time. We must EAT, SLEEP, BREATHE, AND ACHEIVE the task that is at hand.">
	<style>
		.display{
    		text-decoration: none;
    		color: black;
    		transition: color;
    		transition-duration: 3s;
    	}
    	.display:hover{
    		color: crimson;
    	}
    	.date{
    		font-family: 'Courier Prime', monospace;
    		font-size: small;
    	}
    	.leg{
    		font-family: 'Roboto', sans-serif;
    	}
    	.readable2{
    		font-family: 'Exo', sans-serif;
    	}
    	.display2{
    		text-decoration: none;
    		color: black;
    		transition: color;
    		transition-duration: 3s;
    	}
    	.display2:hover{
    		color: crimson;
    	}
    	.information{
    		white-space: pre-wrap;
    	}
    	.MeinBox{
    		width: 190px;
    		margin: auto;
    		height: 35px;
    		border: 3px solid black;
    		transition: border;
    		transition-duration: 3s;
    	}
    	.MeinBox:hover{
    		border:  3px solid crimson;
    	}
	</style>
</head>
<body>
<%- include('./shared/header.ejs') %>
<br/>
<div class="text-center"><a class="display" href="/">BACK</a></div>
<br/>
<% if(article.image) { %>
<img width='100%' src="../<%= article.image %>"/>
<% } else { %>
<div class="text-center"><img width="40%" src="/default-image.png"></div>
<% } %>
<br/>
<div class="container">
<div class="text-center">
	<br/>
	<dfn class="date display"><%= moment(article.createdAt).format("dddd, MMMM Do YYYY, h:mm a") %> 
	(<%= moment(article.createdAt).fromNow() %>)</dfn>
</div>
<br/>
<h1 class="text-center display" style="padding-top: 5px;"><%= article.title %></h1>
<% if(article.postedBy) { %>
<div class="text-center">
	<dfn class="date display">Article Posted By <%= article.postedBy.name %> 
    </dfn>
</div>
<br/>
<br/>
<% } %>
<% if(article.training === true) { %>
	<p class="text-center"><img style="margin-top: 10px; margin-bottom: 4px;" width="30" src="/dumbbell_logo-MH.png">
		<br/><dfn>HARDCORE FITNESS</dfn></p>
<% } %>
<p class="readable2 information"><%= article.description %></p>
<br/>
<% if(article.video) { %>
<div class="text-center">
<video width="55%" controls autoplay loop src="../<%= article.video %>"></video>
</div>
<% } else { %>
<div class="text-center"><p><video width="50%" src="/MeinHaus-00.mp4"></p></div>
<% } %>
<br/>
<br/>
<% if(article.link === '') { %>
<p></p>
<% } else { %>
<div class="MeinBox text-center">
<p><a class="display2 readable2" href="<%= article.link %>" target="_blank">CHECK OUT THE LINK</a></p>
</div>
<% } %>
</div>
<br/>
<br/>
<p class="text-center"><!-- <a href="https://www.instagram.com/" target="_blank"><img style="width: 30px" src="/iconfinder_instagram_5367338.png" alt="Mein Haus link to instagram. Have a look!"></a><a href="https://www.tiktok.com/" target="_blank"><img style="width: 30px" src="/iconfinder_tiktok_5367362.png" alt="Mein Haus link to TikTok. Check us out!"></a> --> <a href="mailto:thomas.junior.davis@gmail.com" target="_blank"><img style="width: 30px" src="/iconfinder_gmail_5367355.png" alt="Mein Haus E-Mail. Email us."></a><!--<a href="https://www.substack.com/" target="_blank"><img style="width: 20px" src="/iconfinder_substack_5367411.png" alt="Mein Haus link to Substack. Subscribe and learn more about the Iron Citadel."></a> --></p>
<br/>
<%- include('./shared/footer.ejs') %>
<!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>